header {
  background-color: blue;
  background-image: url("../img/mt_st_helens.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*height: auto;*/
  width: 100%;
  text-align: center;
  /*margin: 0;*/
  padding-top: 5%;
  padding-bottom: 2%;
}

/* header noaa h1 */
.noaah1 {
  font-size: 6vw;
  text-shadow: 5px 5px 10px rgba(192,192,192,0.8);
  margin: 1%;
}

/* header noaa h4 */
.noaaP {
	background-color: rgba(0,107,179,0.7);
	font-size: 2.5vw;
	display: inline-block;
	padding: 0px 25px;
	border-radius: 5px;
	color: white;
	box-shadow: 2px 2px 5px white;
	text-shadow: 1px 1px 1px black;
}

/* Groups of data from noaa. Sections */
.dataGroups {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/*margin: 0;*/
	margin: 1% 1%;
	padding: 10px 25px;
	font-size: 2.5vw;
	font-weight: bold;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 2px 2px 5px white;
}

p {
	margin: 10px 5px;
	text-shadow: 1px 1px 1px white;
}

#currTemp {
	color: rgba(153,0,0);
	text-shadow: 1px 1px 1px white;
}

.sideBySide {
	display: flex;
	justify-content: space-between;
	margin: 3%;
}

#location {
	width: 50%;
	text-align: left;
	border: 1px solid white;
}

#location b {
	color: black;
	/*text-shadow: 1px 1px 1px white;*/
	text-shadow: none;
}

#location p {
	font-weight: 400;
}

#location h1 {
	text-align: center;
}

#location section {
	box-shadow: none;
}

#forecast {
	width: 45%;
	border: 1px solid white;
}

#forecast section {
	box-shadow: none;
}